In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dados_gerais = pd.read_excel("resumo_semanal_lpc_2025-03-30_2025-04-05.xlsx")
dados_gerais

,"AGÊNCIA NACIONAL DO PETRÓLEO, GÁS NATURAL E BIOCOMBUSTÍVEIS - ANP",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,SUPERINTENDÊNCIA DE DEFESA DA CONCORRÊNCIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LEVANTAMENTO DE PREÇOS DE COMBUSTÍVEIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INTERVALO DE TEMPO: SEMANAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
156,2025-03-30 00:00:00,2025-04-05 00:00:00,BAHIA,SALVADOR,OLEO DIESEL S10,14,R$/l,6.51,0.169545,6.29,6.79,0.026
157,2025-03-30 00:00:00,2025-04-05 00:00:00,MARANHAO,SAO LUIS,OLEO DIESEL S10,19,R$/l,6.06,0.205542,5.8,6.55,0.034
158,2025-03-30 00:00:00,2025-04-05 00:00:00,SAO PAULO,SAO PAULO,OLEO DIESEL S10,122,R$/l,6.48,0.574459,5.79,8.99,0.089
159,2025-03-30 00:00:00,2025-04-05 00:00:00,PIAUI,TERESINA,OLEO DIESEL S10,13,R$/l,6.38,0.223713,6.09,6.79,0.035
160,2025-03-30 00:00:00,2025-04-05 00:00:00,ESPIRITO SANTO,VITORIA,OLEO DIESEL S10,7,R$/l,6.42,0.152799,6.19,6.59,0.024

In [ ]:
dados_gerais = dados_gerais.drop([0,1,2,3,4,5,6,7,8], axis= 0)

dados_gerais = dados_gerais.rename(columns={"AGÊNCIA NACIONAL DO PETRÓLEO, GÁS NATURAL E BIOCOMBUSTÍVEIS - ANP" : "Data Inicial"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 1" : "Data Final"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 2": "Estados"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 3":"Município"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 4":"Produto"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 5":"Número de Postos Pesquisados"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 6":"Unidade de medida"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 7":"Preço médio revenda"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 8":"Desvio padrão revenda"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 9":"Preço mínimo revenda"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 10":"Preço máximo revenda"})

dados_gerais = dados_gerais.rename(columns={"Unnamed: 11":"COEF de cariação revenda"})

dados_gerais

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
9,2025-03-30 00:00:00,2025-04-05 00:00:00,SERGIPE,ARACAJU,ETANOL HIDRATADO,12,R$/l,4.86,0.071031,4.8,4.99,0.015
10,2025-03-30 00:00:00,2025-04-05 00:00:00,PARA,BELEM,ETANOL HIDRATADO,8,R$/l,4.74,0.181973,4.5,4.99,0.038
11,2025-03-30 00:00:00,2025-04-05 00:00:00,RORAIMA,BOA VISTA,ETANOL HIDRATADO,6,R$/l,5.15,0.020412,5.15,5.2,0.004
12,2025-03-30 00:00:00,2025-04-05 00:00:00,DISTRITO FEDERAL,BRASILIA,ETANOL HIDRATADO,27,R$/l,4.7,0.084547,4.48,4.79,0.018
13,2025-03-30 00:00:00,2025-04-05 00:00:00,MATO GROSSO DO SUL,CAMPO GRANDE,ETANOL HIDRATADO,15,R$/l,3.97,0.147041,3.76,4.38,0.037
...,...,...,...,...,...,...,...,...,...,...,...,...
156,2025-03-30 00:00:00,2025-04-05 00:00:00,BAHIA,SALVADOR,OLEO DIESEL S10,14,R$/l,6.51,0.169545,6.29,6.79,0.026
157,2025-03-30 00:00:00,2025-04-05 00:00:00,MARANHAO,SAO LUIS,OLEO DIESEL S10,19,R$/l,6.06,0.205542,5.8,6.55,0.034
158,2025-03-30 00:00:00,2025-04-05 00:00:00,SAO PAULO,SAO PAULO,OLEO DIESEL S10,122,R$/l,6.48,0.574459,5.79,8.99,0.089
159,2025-03-30 00:00:00,2025-04-05 00:00:00,PIAUI,TERESINA,OLEO DIESEL S10,13,R$/l,6.38,0.223713,6.09,6.79,0.035
160,2025-03-30 00:00:00,2025-04-05 00:00:00,ESPIRITO SANTO,VITORIA,OLEO DIESEL S10,7,R$/l,6.42,0.152799,6.19,6.59,0.024

Segundo o BEN 2024, os combustíveis mais consumidos ainda no setor de transportes são óleo diesel (43,4%), gasolina (27,8%), etanol 0 (17,3%) e o biodiesel (5,2%).

Vamos tratar apenas os mais consumidos: Gasolina comun e aditivada, etanol hidratado e óleo diesel.

In [39]:
combustiveis = ['GASOLINA COMUM','GASOLINA ADITIVADA','ETANOL HIDRATADO','OLEO DIESEL S10']
dados_filtrado = dados_gerais[dados_gerais['Produto'].isin(combustiveis)]
dados_filtrado

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
9,2025-03-30 00:00:00,2025-04-05 00:00:00,SERGIPE,ARACAJU,ETANOL HIDRATADO,12,R$/l,4.86,0.071031,4.8,4.99,0.015
10,2025-03-30 00:00:00,2025-04-05 00:00:00,PARA,BELEM,ETANOL HIDRATADO,8,R$/l,4.74,0.181973,4.5,4.99,0.038
11,2025-03-30 00:00:00,2025-04-05 00:00:00,RORAIMA,BOA VISTA,ETANOL HIDRATADO,6,R$/l,5.15,0.020412,5.15,5.2,0.004
12,2025-03-30 00:00:00,2025-04-05 00:00:00,DISTRITO FEDERAL,BRASILIA,ETANOL HIDRATADO,27,R$/l,4.7,0.084547,4.48,4.79,0.018
13,2025-03-30 00:00:00,2025-04-05 00:00:00,MATO GROSSO DO SUL,CAMPO GRANDE,ETANOL HIDRATADO,15,R$/l,3.97,0.147041,3.76,4.38,0.037
...,...,...,...,...,...,...,...,...,...,...,...,...
156,2025-03-30 00:00:00,2025-04-05 00:00:00,BAHIA,SALVADOR,OLEO DIESEL S10,14,R$/l,6.51,0.169545,6.29,6.79,0.026
157,2025-03-30 00:00:00,2025-04-05 00:00:00,MARANHAO,SAO LUIS,OLEO DIESEL S10,19,R$/l,6.06,0.205542,5.8,6.55,0.034
158,2025-03-30 00:00:00,2025-04-05 00:00:00,SAO PAULO,SAO PAULO,OLEO DIESEL S10,122,R$/l,6.48,0.574459,5.79,8.99,0.089
159,2025-03-30 00:00:00,2025-04-05 00:00:00,PIAUI,TERESINA,OLEO DIESEL S10,13,R$/l,6.38,0.223713,6.09,6.79,0.035
160,2025-03-30 00:00:00,2025-04-05 00:00:00,ESPIRITO SANTO,VITORIA,OLEO DIESEL S10,7,R$/l,6.42,0.152799,6.19,6.59,0.024

In [45]:
preco_maximo = dados_filtrado.groupby('Produto')['Preço máximo revenda'].max().reset_index()

preco_maximo = preco_maximo.sort_values("Preço máximo revenda", ascending= False)

preco_maximo

              Produto Preço máximo revenda
1  GASOLINA ADITIVADA                 8.99
3     OLEO DIESEL S10                 8.99
2      GASOLINA COMUM                 8.79
0    ETANOL HIDRATADO                 5.99

In [66]:
gasolina_comun = dados_filtrado[dados_filtrado["Produto"] == "GASOLINA COMUM"]

gasolina_adtivada = dados_filtrado[dados_filtrado["Produto"] == "GASOLINA ADITIVADA"]

etanol = dados_filtrado[dados_filtrado["Produto"] == "ETANOL HIDRATADO"]

oleo_disel = dados_filtrado[dados_filtrado["Produto"] == "OLEO DIESEL S10"]

In [71]:
display(gasolina_comun[gasolina_comun["Preço médio revenda"] == np.max(gasolina_comun["Preço médio revenda"])])
print("Maior preço registrado da gasolina comum\n")


display(gasolina_adtivada[gasolina_adtivada["Preço médio revenda"] == np.max(gasolina_adtivada["Preço médio revenda"])])
print("Maior preço registrado da gasolina aditivada\n")

display(etanol[etanol["Preço médio revenda"] == np.max(etanol["Preço médio revenda"])])
print("Maior preço registrado de Etanol Hidratado\n")

display(oleo_disel[oleo_disel["Preço médio revenda"] == np.max(oleo_disel["Preço médio revenda"])])
print("Maior preço registrado de óleo diesel")

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
74,2025-03-30 00:00:00,2025-04-05 00:00:00,ACRE,RIO BRANCO,GASOLINA COMUM,6,R$/l,7.63,0.017889,7.6,7.65,0.002

Maior preço registrado da gasolina comum

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
50,2025-03-30 00:00:00,2025-04-05 00:00:00,ACRE,RIO BRANCO,GASOLINA ADITIVADA,5,R$/l,7.67,0.037683,7.64,7.73,0.005

Maior preço registrado da gasolina aditivada

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
21,2025-03-30 00:00:00,2025-04-05 00:00:00,AMAZONAS,MANAUS,ETANOL HIDRATADO,31,R$/l,5.48,0.004995,5.47,5.49,0.001
24,2025-03-30 00:00:00,2025-04-05 00:00:00,RONDONIA,PORTO VELHO,ETANOL HIDRATADO,7,R$/l,5.48,0.015275,5.45,5.49,0.003

Maior preço registrado de Etanol Hidratado

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
154,2025-03-30 00:00:00,2025-04-05 00:00:00,ACRE,RIO BRANCO,OLEO DIESEL S10,4,R$/l,7.81,0.03304,7.78,7.85,0.004

Maior preço registrado de óleo diesel

Concluções dos maiores Preços médios:

Estado com o maior preço médio de revenda da Gasolina, comum e aditivada, foi o Acre:

Gasolina comum: R$ 7,63

Gasolina Aditivada: R$ 7,67

Estados com o maior preço médio de revendas do Etanol foi Amazonas e Rondonia:

Etanol Amazonas e Rondonia: R$ 5,48

Estado com o maior preço médio de revendas do Óleo Diesel foi o  Acre:

Óleo Diesel no Acre: R$ 7,81

In [72]:
display(gasolina_comun[gasolina_comun["Preço médio revenda"] == np.min(gasolina_comun["Preço médio revenda"])])
print("Maior preço registrado da gasolina comum\n")


display(gasolina_adtivada[gasolina_adtivada["Preço médio revenda"] == np.min(gasolina_adtivada["Preço médio revenda"])])
print("Maior preço registrado da gasolina aditivada\n")

display(etanol[etanol["Preço médio revenda"] == np.min(etanol["Preço médio revenda"])])
print("Maior preço registrado de Etanol Hidratado\n")

display(oleo_disel[oleo_disel["Preço médio revenda"] == np.min(oleo_disel["Preço médio revenda"])])
print("Maior preço registrado de óleo diesel")

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
77,2025-03-30 00:00:00,2025-04-05 00:00:00,MARANHAO,SAO LUIS,GASOLINA COMUM,21,R$/l,5.77,0.11629,5.65,6.15,0.02

Maior preço registrado da gasolina comum

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
53,2025-03-30 00:00:00,2025-04-05 00:00:00,MARANHAO,SAO LUIS,GASOLINA ADITIVADA,12,R$/l,5.91,0.195371,5.68,6.41,0.033

Maior preço registrado da gasolina aditivada

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
14,2025-03-30 00:00:00,2025-04-05 00:00:00,MATO GROSSO,CUIABA,ETANOL HIDRATADO,19,R$/l,3.84,0.071884,3.75,3.99,0.019

Maior preço registrado de Etanol Hidratado

,Data Inicial,Data Final,Estados,Município,Produto,Número de Postos Pesquisados,Unidade de medida,Preço médio revenda,Desvio padrão revenda,Preço mínimo revenda,Preço máximo revenda,COEF de cariação revenda
153,2025-03-30 00:00:00,2025-04-05 00:00:00,PERNAMBUCO,RECIFE,OLEO DIESEL S10,12,R$/l,5.99,0.065134,5.93,6.19,0.011

Maior preço registrado de óleo diesel

Conclusões dos menores preços médios:

O estado com menor preço médio de revenda da Gasolina Comum e aditivada foi o Maranhão:

Gasolina comum no Maranhão: R$ 5,77

Gasolina Aditivada no Maranhão: R$ 5,91

O Estado com o menor preço médio de revenda do Etanol hidratado foi em Mato Grosso 

Etanol Hidratado no Mato Grosso: R$ 3,84

O Estado com o menor preço de óleo disel foi Pernambuco:

óleo Disel em Pernambuco: R$ 5,99

In [103]:
mato_grosso = dados_filtrado[dados_filtrado["Estados"] == "MATO GROSSO"]
mato_grosso_sul = dados_filtrado[dados_filtrado["Estados"] == "MATO GROSSO DO SUL"]
df = dados_filtrado[dados_filtrado["Estados"] == "DISTRITO FEDERAL"]

centro_oeste = pd.concat([mato_grosso,mato_grosso_sul,df])

maranhao = dados_filtrado[dados_filtrado["Estados"] == "MARANHAO"]
pernambuco = dados_filtrado[dados_filtrado["Estados"] == "PERNAMBUCO"]
piaui = dados_filtrado[dados_filtrado["Estados"] == "PIAUI"]
bahia = dados_filtrado[dados_filtrado["Estados"] == "BAHIA"]
alagoas = dados_filtrado[dados_filtrado["Estados"] == "ALAGOAS"]
sergipe = dados_filtrado[dados_filtrado["Estados"] == "SERGIPE"]
paraiba = dados_filtrado[dados_filtrado["Estados"] == "PARAIBA"]
rn = dados_filtrado[dados_filtrado["Estados"] == "RIO GRANDE DO NORTE"]
ceara = dados_filtrado[dados_filtrado["Estados"] == "CEARA"]

nordeste = pd.concat([maranhao,pernambuco,piaui,bahia,alagoas,sergipe,paraiba,rn,ceara])

sp = dados_filtrado[dados_filtrado["Estados"] == "SAO PAULO"]
rj = dados_filtrado[dados_filtrado["Estados"] == "RIO DE JANEIRO"]
es = dados_filtrado[dados_filtrado["Estados"] == "ESPIRITO SANTO"]

sudeste = pd.concat([sp,rj,es])

para = dados_filtrado[dados_filtrado["Estados"] == "PARA"]
acre = dados_filtrado[dados_filtrado["Estados"] == "ACRE"]
amazonas = dados_filtrado[dados_filtrado["Estados"] == "AMAZONAS"]
tocantis =dados_filtrado[dados_filtrado["Estados"] == "TOCANTINS"]
amapa = dados_filtrado[dados_filtrado["Estados"] == "AMAPA"]
rondonia = dados_filtrado[dados_filtrado["Estados"] == "RONDONIA"]
roraima = dados_filtrado[dados_filtrado["Estados"] == "RORAIMA"]

norte = pd.concat([para,acre,amazonas,tocantis,amapa,rondonia,roraima])

parana = dados_filtrado[dados_filtrado["Estados"] == "PARANA"]
sc = dados_filtrado[dados_filtrado['Estados'] == "SANTA CATARINA"]
rs = dados_filtrado[dados_filtrado["Estados"] == "RIO GRANDE DO SUL"]

sul = pd.concat([parana,sc,rs])

Comparando os preços da gasolina comum por regiões

In [164]:
nordeste_gasolina_comum = nordeste[nordeste["Produto"] == "GASOLINA COMUM"]
media_nordeste_gasolina_comum = round(np.mean(nordeste_gasolina_comum["Preço médio revenda"]),2)

nordeste_gasolina_aditivada = nordeste[nordeste["Produto"] == "GASOLINA ADITIVADA"]
media_nordeste_gasolina_aditivada = round(np.mean(nordeste_gasolina_comum["Preço médio revenda"]),2)

nordeste_etanol = nordeste[nordeste["Produto"] == "ETANOL HIDRATADO"]
media_nordeste_etanol = round(np.mean(nordeste_etanol["Preço médio revenda"]),2)

diesel_nordeste = nordeste[nordeste["Produto"] == "OLEO DIESEL S10"]
media_nordeste_diesel = round(np.mean(diesel_nordeste["Preço médio revenda"]),2)


print(f"Preço médio dos combutíveis no nordeste:\n Gasolina Comum: R$ {media_nordeste_gasolina_comum} \n Gasolina Aditivada: R$ {media_nordeste_gasolina_aditivada} \n Etanol: R$ {media_nordeste_etanol}\n Óleo Diesel: R$ {media_nordeste_diesel}\n")

centro_gasolina_comum = centro_oeste[centro_oeste["Produto"] == "GASOLINA COMUM"]
media_centro_gasolina_comum = round(np.mean(centro_gasolina_comum["Preço médio revenda"]),2)

centro_gasolina_aditivada = centro_oeste[centro_oeste["Produto"] == "GASOLINA ADITIVADA"]
media_centro_gasolina_aditivada = round(np.mean(centro_gasolina_aditivada["Preço médio revenda"]),2)

centro_etanol = centro_oeste[centro_oeste["Produto"] == "ETANOL HIDRATADO"]
media_centro_etanol = round(np.mean(centro_etanol["Preço médio revenda"]),2) 

centro_diesel = centro_oeste[centro_oeste["Produto"] == "OLEO DIESEL S10"]
media_centro_diesel = round(np.mean(centro_diesel["Preço médio revenda"]),2)

print(f"Preço médio dos combustíveis no centro-oeste: \n Gasolina Comum: R$ {media_centro_gasolina_comum}\n Gasolina Aditivada: R$ {media_centro_gasolina_aditivada}\n Etanol: R$ {media_centro_etanol}\n Óleo Diesel: R$ {media_centro_diesel}\n")


sudeste_gasolina_comum = sudeste[sudeste["Produto"] == "GASOLINA COMUM"]
media_sudeste_gasolina_comum = round(np.mean(sudeste_gasolina_comum["Preço médio revenda"]),2)

sudeste_gasolina_aditivada = sudeste[sudeste["Produto"] == "GASOLINA ADITIVADA"]
media_sudeste_gasolina_aditivada = round(np.mean(sudeste_gasolina_aditivada["Preço médio revenda"]),2)

sudeste_etanol = sudeste[sudeste["Produto"] == "ETANOL HIDRATADO"]
media_sudeste_etanol = round(np.mean(sudeste_etanol["Preço médio revenda"]),2) 

sudeste_diesel = sudeste[sudeste["Produto"] == "OLEO DIESEL S10"]
media_sudeste_diesel = round(np.mean(sudeste_diesel["Preço médio revenda"]),2)

print(f"Preço médio dos combustíveis no Sudeste: \n Gasolina Comum: R$ {media_sudeste_gasolina_comum} \n Gasolina Aditivada: R$ {media_sudeste_gasolina_aditivada} \n Etanol: R$ {media_sudeste_etanol} \n óleo Diesel: R$ {media_sudeste_diesel}\n")

sul_gasolina_comum = sul[sul["Produto"] == "GASOLINA COMUM"]
media_sul_gasolina_comum = round(np.mean(sul_gasolina_comum["Preço médio revenda"]),2)

sul_gasolina_aditivada = sul[sul["Produto"] == "GASOLINA ADITIVADA"]
media_sul_gasolina_aditivada = round(np.mean(sul_gasolina_aditivada["Preço médio revenda"]),2)

sul_etanol = sul[sul["Produto"] == "ETANOL HIDRATADO"]
media_sul_etanol = round(np.mean(sul_etanol["Preço médio revenda"]),2) 

sul_diesel = sul[sul["Produto"] == "OLEO DIESEL S10"]
media_sul_diesel = round(np.mean(sul_diesel["Preço médio revenda"]),2)

print(f"Preço médio dos combustíveis no Sul: \n Gasolina Comum: R$ {media_sul_gasolina_comum} \n Gasolina Aditivada: R$ {media_sul_gasolina_aditivada} \n Etanol: R$ {media_sul_etanol} \n óleo Diesel: R$ {media_sul_diesel}\n")

norte_gasolina_comum = norte[norte["Produto"] == "GASOLINA COMUM"]
media_norte_gasolina_comum = round(np.mean(norte_gasolina_comum["Preço médio revenda"]),2)

norte_gasolina_aditivada = norte[norte["Produto"] == "GASOLINA ADITIVADA"]
media_norte_gasolina_aditivada = round(np.mean(norte_gasolina_aditivada["Preço médio revenda"]),2)

norte_etanol = norte[norte["Produto"] == "ETANOL HIDRATADO"]
media_norte_etanol = round(np.mean(norte_etanol["Preço médio revenda"]),2) 

norte_diesel = norte[norte["Produto"] == "OLEO DIESEL S10"]
media_norte_diesel = round(np.mean(norte_diesel["Preço médio revenda"]),2)

print(f"Preço médio dos combustíveis no Norte:\n Gasolina Comum: R$ {media_norte_gasolina_aditivada} \n Gasolina Aditivada: R$ {media_norte_gasolina_aditivada} \n Etanol: R$ {media_norte_etanol} \n óleo Diesel: R$ {media_norte_diesel}")

Preço médio dos combutíveis no nordeste:
 Gasolina Comum: R$ 6.2
 Gasolina Aditivada: R$ 6.2
 Etanol: R$ 4.79
 Óleo Diesel: R$ 6.28

Preço médio dos combustíveis no centro-oeste:
 Gasolina Comum: R$ 6.15
 Gasolina Aditivada: R$ 6.32
 Etanol: R$ 4.17
 Óleo Diesel: R$ 6.39

Preço médio dos combustíveis no Sudeste:
 Gasolina Comum: R$ 6.22
 Gasolina Aditivada: R$ 6.49
 Etanol: R$ 4.46
 óleo Diesel: R$ 6.43

Preço médio dos combustíveis no Sul:
 Gasolina Comum: R$ 6.85
 Gasolina Aditivada: R$ 7.01
 Etanol: R$ 4.97
 óleo Diesel: R$ 6.6

Preço médio dos combustíveis no Norte:
 Gasolina Comum: R$ 6.97
 Gasolina Aditivada: R$ 6.97
 Etanol: R$ 5.22
 óleo Diesel: R$ 6.82